body{
    font-family: 'Lora', serif;
    margin: 0;
}

.header-section{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 669px;
    margin-top: -5%;
  


  }

.header-content{
    text-align: center;
    width: 50%;
    margin: 0 auto;

  
 }


.header-content h1{
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    color: white;
    padding-top: 200px;
  
}

.header-content p{
    font-size: 16px;
    font-weight: 400;
    color: #f3f3f3;
    margin-top: -19px;
    font-family: poppins;
    line-height: 28px;
}

.link-style a {
    border:1px solid  #FF5959;
    color: #FFFFFF;
    background-color: tomato;
    padding: 9px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
   
    
}

.link-style {
    margin-top:25px;

}

.donate-section{
    text-align: center;
}

.donate-section h1{
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top:85px;
}

.donate-section-content-style{
    font-size: 16px;
    font-family: poppins;
  color: #767676;
  margin-top:-19px ;
  font-weight: 400;
  line-height: 25px;
}

.donate-section-amount {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin: 0 auto;
    margin-top: 20px;
   

   
}

.donate-section-amount p{
    font-size: 16px;
    font-weight: 700;
    color: rgb(94, 94, 94);
    border: 1px solid #f3f3f3;
    padding: 25px 10px;
    background-color: #f3f3f3;
}

#donate-section-amount-style{
    border-color: tomato;
    color: tomato;
    background-color: #fdd6d6b9;
    

}

input {
    border: none;
    border-bottom: 1px solid gray;
    width: 30%;
    border-color: tomato;
   
    
    
}

.donate-section-input-style{
    margin-top: 20px;
   
}

.donate-section-input-style :placeholder-shown{
    text-align: center;
    font-family: poppins;
   text-transform: capitalize;
   font-weight: 700;

}

.donate-section-link-style{
    margin: 35px;
    
}

.donate-section-link-style a{
    border:1px solid  #FF5959;
    color: #FFFFFF;
    background-color: tomato;
    padding: 9px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;

}

.donate-plan-section{

    margin-top: 120px;

}

.donate-plan-section-content{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;

}

.donate-plan-section-content h1{
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;

}

.donate-plan-section-content p{
    font-family: poppins;
    font-size: 16px;
    color:#767676;
    font-weight: 400;
    line-height: 25px;
    margin-top: -19px;
}

.donate-plane-card-style{
    display: flex;
    justify-content: space-evenly;
    width: 52%;
    margin: 0 auto;

   
    
  

}

.card1{
    border: 1px solid rgb(160, 208, 247);
    background-color: rgb(160, 208, 247);
    padding: 50px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.card2{
    border: 1px solid rgb(243, 244, 207);
    background-color: rgb(243,244,207);
    padding: 50px 15px;
  margin-top: 50px;
  margin-bottom: 50px;
    border-radius: 5px;

}

.card3{
    border: 1px solid rgb(185, 131, 242);
    background-color: rgb(185,131,242);
    padding: 50px 15px;
     margin-top: 50px;
     margin-bottom: 50px;
    
    border-radius: 5px;

}

.depend-donation{
  display: flex;
 width: 45%;
 margin: 0 auto;
  
}

.img-style{
    width: 380px;
    height: 380px;px;
}

.depend-donation p{
    width: 415px;
    text-align: left;
    font-family: poppins;
    color: #767676;
}

.depend-donation h2{
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 700;
}

.lives-depend{

    padding-right: 70px;
   
    
}

.lives-depend a{
    border:1px solid  #FF5959;
    color: #FFFFFF;
    background-color: tomato;
    padding: 9px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
   
}

.link-style{
    margin-top: 35px;
}

.depend-donation{
    margin-top: 100px;
}

.depend-content{
    margin-left: 35px;
}


.team-work{
    font-size: 48px;
    text-align: center;
    margin-top: 110px;
}


.work-section{
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
    text-align: center;
    font-size: 18px;
    border: 1px solid thistle;
    color: tomato;
    background-color: thistle;
    margin-top: -30px;
}



.work-content {

    border: 1px solid thistle;
    background-color: thistle;

   
   
}

.work-content p{
    margin-top: -20px;
}


